#folders
.idea
auth
bitrix
communication
content
e-store
examples
images
personal
search
upload

#files
.access.php
.htaccess
.section.php
.top.menu.php
404.php
auth.php
favicon.ico
index_inc.php
robots.txt
sect_inc.php
urlrewrite.php


!.gitignore
!local/*
!index.php